In [1]:
import pandas as pd

In [7]:
dict = {
    '1조' : ['김민석', '김준희', '손승민', '이도윤', '이준우', '전현수'],
    '2조' : ['김건우', '김무겸', '김민규', '신하람', '윤서준', '박영준'],
    '3조' : ['박한영', '정재은', '정진서', '최인영', '홍은재', ''],
    '4조' : ['강태구', '김태호', '박찬웅', '손경훈', '이휘민', '정인환'],
    '5조' : ['김민준', '박주혁', '박진우', '송연수', '안예찬', '이현우']
}
df = pd.DataFrame(dict, index=[1,2,3,4,5,6])

In [8]:
df

    1조   2조   3조   4조   5조
1  김민석  김건우  박한영  강태구  김민준
2  김준희  김무겸  정재은  김태호  박주혁
3  손승민  김민규  정진서  박찬웅  박진우
4  이도윤  신하람  최인영  손경훈  송연수
5  이준우  윤서준  홍은재  이휘민  안예찬
6  전현수  박영준       정인환  이현우

In [14]:
df.to_csv('list.csv', encoding='utf-8-sig')